* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Sora", sans-serif;
}

.main-container {
    padding: 35px 0 20px 0;
    width: 100%;
    height: 80px;
    background: white;
    overflow: hidden;
    display: flex;
    gap: 10%;
    justify-content: center;
    align-items: center;
    position: sticky;
    flex-wrap: wrap;
    top: 0;
    z-index: 1000;
}

header {
    width: 30%;
    background: transparent;
    display: flex;
    align-items: center;
}

.container img {
    width: 60px;
}

.container {
    margin-left: 15px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}

.email-container a {
    margin: 0 20px;
    padding-left: 10px;
    font-size: 15px;
    text-decoration: none;
    font-weight: 500;
    color: rgb(70, 65, 65);
}

.email-container a:hover {
    color: blue;
}

.nav-links {
    width: 50%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-links ul {
    width: 70%;
    list-style: none;
    display: flex;
}

.nav-links ul a {
    margin: 0 10px;
    padding: 10px 10px;
    text-decoration: none;
    font-weight: 500;
    color: #333;
    font-size: 15px;
}

.nav-links ul a:hover {
    text-decoration: underline;
}

.nav-links .hire {
    width: 15%;
    background: linear-gradient(to right, #8750f7, #3A1E71);
    padding: 10px 20px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
}

.nav-links .hire a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.hire:hover {
    background-color: darkblue;
}







.hero {
    margin: auto;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.hero-text {
    width: 55%;
    display: flex;
    flex-direction: column;
    margin: 60px 20px;
}

.hero-text span {
    font-size: 40px;
    font-weight: bold;
    text-align: left;
    color: #333;
}

.hero-text h1 {
    font-size: 65px;
    text-align: left;
    margin: 20px 0;
    background: linear-gradient(90deg, #8750f7, #3A1E71);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

.hero-text p {
    text-align: left;
    font-size: 22px;
    line-height: 1.6;
}

.hero-image {
    width: 50%;
    display: flex;
    justify-content: center;
}

.hero-image img {
    width: 430px;
    object-fit: cover;
    border-radius: 30px;
    rotate: 4deg;
    transition: all 0.3s ease;
}

.hero-image img:hover {
    rotate: 0deg;
    outline: 2px solid rgb(93, 83, 236);
}

.hero-buttons {
    margin-top: 30px;
    display: flex;
    gap: 25px;
    align-items: center;
}

.hero-buttons .hero-btn2 .fb-icons, .tw-icons, .ln-icons, .git-icons {
    padding: 10px;
    height: 15px;
    width: 15px;
    cursor: pointer;
    font-size: 16px;
    color: #8750f7;
    border-radius: 50%;
}

.hero-buttons .hero-btn2 {
    border-radius: 50%;
    background-color: rgb(252, 252, 252);
    outline: solid 1px #8750f7;
}

.hero-buttons .hero-btn2:hover .fb-icons:hover, .tw-icons:hover, .ln-icons:hover, .git-icons:hover {
    background-color: #8750f7;
    color: white;
}

.hero-buttons .hero-btn2:hover {
    background-color: #8750f7;
    color: white;
}

.hero-buttons .hero-btn1 {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #8750f7;
    width: 200px;
    height: 50px;
    outline: 1px solid #8750f7;
    border-radius: 50px;
    font-size: 14px;
    font-weight: 500;
}

.hero-buttons .hero-btn1:hover {
    background-color: #8750f7;
    color: white;
    transition: all 0.3s ease;
}







.service {
    margin: 40px auto;
    padding: 120px 0;
    background-color: rgb(231, 231, 244);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.service h1 {
    font-size: 45px;
    font-weight: bold;
    text-align: center;
    background: linear-gradient(90deg, #8750f7, #3A1E71);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    margin-bottom: 20px;
}

.service p {
    width: 700px;
    text-align: center;
    line-height: 25px;
}
.service-container{
    margin-top: 50px;
    position: relative;
    overflow-y: hidden;
}
.service-container::before {
  content: "";
  position: absolute;
  top: 0PX;
  left: 0;
  width: 100%;
  height: 110px;
  background: linear-gradient(90deg, #8750f7, #3A1E71);
  z-index: 1;
  transition: all ease-in-out 1s;
}
.service-box {
    height: 110px;
    /* padding: 0 10px; */
    background-color: transparent;
    color: #333;
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    border-bottom: 1px solid rgb(63, 63, 63);
    transition: all 1S ease;
    cursor: pointer;
    
}
.service-container:has(.service-box-2:hover)::before {
  top: 110px;
}
.service-container:has(.service-box-3:hover)::before {
  top: 220px;
}

.service-box-left { 
    height: 80px;
    width: 400px;
    padding: 0 50px 0 20px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    font-size: 28px;
    font-weight: bold;
    color: #8750f7;
    gap: 25px;
    z-index: 2;
}

.service-box-left span {
    font-size: 22px;
    text-align: left;
    z-index: 2;
}
.service-box-left h3{
    z-index: 2;
}

.service-box-mid {
    padding: 0 40px;
    height: 80px;
    width: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.service-box-mid p {
    text-align: left;
    z-index: 2;
}

.service-box-right {
    margin: 10px 10px 10px 10px;
    padding: 0 10px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    rotate: 50deg;
    transition: all 0.7s ease;
    z-index: 2;
}

.service-box-right i {
    font-size: 30px;
    z-index: 2;
}
/* .service-box-1{
    background: #8750f7;
    border-color: white;
    color: white;
} */
/* .service-box-1 div{
    color: white;
}
.service-box-1 .service-box-right{
    rotate: -50deg;
}
.service-box-2:hover,
.service-box-3:hover{
    background: #8750f7;
    color: white;
    border-color: white;
} */
/* .service-box-2:hover .service-box-left,
.service-box-3:hover .service-box-left{
    color:white;
}
.service-box-2:hover .service-box-right,
.service-box-3:hover .service-box-right{
    rotate: -50deg;
}
.service-container:has(.service-box-2:hover) .service-box-1,
.service-container:has(.service-box-3:hover) .service-box-1{
    background: transparent;
}
.service-container:has(.service-box-2:hover) .service-box-1 .service-box-left,
.service-container:has(.service-box-3:hover) .service-box-1 .service-box-left{
    color: #8750f7;
}
.service-container:has(.service-box-2:hover) .service-box-1 .service-box-right,
.service-container:has(.service-box-3:hover) .service-box-1 .service-box-right{
    rotate: 50deg;
    color: #333;
}
.service-container:has(.service-box-2:hover) .service-box-1 .service-box-mid,
.service-container:has(.service-box-3:hover) .service-box-1 .service-box-mid{
    color: #333;
} */







.skill {
    margin: 30px auto;
    padding: 20px 0 25px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skill h1 {
    font-size: 45px;
    font-weight: bold;
    text-align: center;
    background: linear-gradient(90deg, #8750f7, #3A1E71);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    margin-bottom: 20px;
}

.skill p {
    width: 700px;
    text-align: center;
    line-height: 25px;
}

.skill-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    /* background-color: white; */
}

.skill-card-icon {
    width: 160px;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 30px 10px 15px 15px;
    background-color: rgb(231, 231, 244);
    border-radius: 20px;
    transition: all 0.7s ease;
}

.skill-card-icon span {
    color: rgb(117, 113, 113);
    font-size: 22px;
    font-weight: bold;
    padding-top: 20px;
    margin-top: 10px;
}

.skill-card-icon-python {
    width: 60px;
    filter: grayscale(60%);
    transition: all 0.5s ease;
}

.skill-card-icon:hover .skill-card-icon-python {
    filter: grayscale(0);
}

.skill-card-icon-dj {
    color: green;
    font-size: 60px;
    filter: grayscale(60%);
    transition: all 0.5s ease;
}

.skill-card-icon:hover .skill-card-icon-dj {
    filter: grayscale(0);
}

.skill-card-icon-htm {
    color: orange;
    font-size: 60px;
    filter: grayscale(50%);
    transition: all 0.5s ease;
}

.skill-card-icon:hover .skill-card-icon-htm {
    filter: grayscale(0);
}

.skill-card-icon-css {
    color: blue;
    font-size: 60px;
    transition: all 0.5s ease;
    filter: grayscale(40%);
}

.skill-card-icon:hover .skill-card-icon-css {
    filter: grayscale(0);
}

.skill-card-icon-js {
    width: 50px;
    filter: grayscale(70%);
    transition: all 0.5s ease;
}

.skill-card-icon:hover .skill-card-icon-js {
    filter: grayscale(0);
}

.skill-card-icon-react {
    color: #61DAFB;
    font-size: 60px;
    transition: all 0.7s ease;
}

.skill-card-icon:hover {
    background-color: rgb(16, 16, 103);
    cursor: pointer;
}

.skill-card-icon:hover span {
    color: blue;
}

.skill-card-icon:hover .skill-card-icon-react {
    transform: rotate(180deg);
    text-shadow: 1px 1px 2px black;
}

.skill-card-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.skill-card-box-name {
    color: #8750f7;
    font-size: 18px;
}






.projects {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    background: white;
    padding: 20px;
    width: 250px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}






.contact {
    background-color: rgb(231, 231, 244);
    width: 100%;
    padding: 100px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

.contact-container {
    background-color: white;
    width: 55%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 50px 0;
}

.contact-container h1 {
    font-size: 40px;
    width: 75%;
    text-align: left;
    background: linear-gradient(90deg, #8750f7, #3A1E71);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;

}

.contact-container p {
    width: 75%;
    text-align: left;
    font-size: 18px;
}

.contact-form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px 5%;
    width: 80%;
}

.contact-form input {
    width: 40%;
    height: 40px;
    border-radius: 10px;
    padding: 5px 10px;
    font-size: 16px;
    outline: none;
    border: 1px solid black;
}

.contact-form select {
    width: 92%;
    background-color: transparent;
    height: 50px;
    border-radius: 10px;
    padding: 5px 10px;
    border: 1px solid black;
}

.contact-form textarea {
    width: 88%;
    height: 100px;
    resize: none;
    border-radius: 10px;
    outline: none;
    border: 1px solid black;
    padding: 5px 10px;
    font-size: 16px;
}

.contact-form button {
    width: 40%;
    height: 50px;
    border-radius: 25px;
    border: none;
    background: linear-gradient(to right, #8750f7, #3A1E71);
    color: white;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

.contact-loction {
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    padding-left: 50px;
}

.contact-location-item {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.contact-location-item-left {
    background: linear-gradient(to right, #8750f7, #3A1E71);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    color: white;
}

.contact-location-item-left-icons {
    font-size: 24px;
    color: white;
    text-shadow: 1px 1px 1px black;
}

.contact-location-item-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 5px;
}

.contact-location-item-right span {
    font-size: 16px;
    font-weight: bold;
    color: black;
}

.contact-location-item-right a {
    font-size: 22px;
    color: #555;
    text-decoration: none;
    color: rgb(19, 3, 33);
}

.contact-location-item-right a:hover {
    color: #8750f7;
}









footer {
    background: #111;
    color: white;
    text-align: center;
    padding: 15px;
}







.section {
    padding: 50px 30px;
    text-align: center;
}

#home {
    scroll-margin-top: 500px;
}

#services,
#skills,
#contact {
    scroll-margin-top: 150px;
}